@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Hind+Madurai:wght@300&family=Kalam:wght@300&family=Luckiest+Guy&family=Roboto:wght@700&family=Rubik+Glitch&family=Rubik+Wet+Paint&display=swap');

* {
    box-sizing: border-box;
    margin: 12px;
    background: #c6c6c6;
    font-family: 'Hind Madurai', sans-serif;
}
    body {
      font-family: 'Nunito', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Muli', sans-serif;
    }

    #page {
        display: flex;
        flex-direction: column;
    }

    #mainTitle {
        color: #184063db;
        font-size: xxx-large;
    }

    a {
        box-shadow: 10px 10px;
        color: #184063db;
        background-color: white;
        text-decoration: none;
        border: 2px solid #184063db;
        transition: color 0.3s ease 0s;
        width: 180px;
        padding: 12px;
    }

    a:hover {
        background-color: #184063db;
        border: 2px solid white;
        color: white;
    }

    h2 {
        display: flex;
        justify-content: center;
        color: white;
        background-color: #1840630a;
        font-size: xx-large;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #1840630a;
        font-size: larger;
    }

    span {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Login */

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 566px;
        height: 396px;
        background: #184063db;
        box-shadow: 10px 10px 15px #000000d1;
    }

    #loginForm {
        height: 100%;
        width: 100%;
        background: #1840630a;
    }

    .form-control {
        display: flex;
        justify-content: center;
        background-color: #1840630a;
    }

    #loginCenterAll {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #inputField {
        height: 40px;
        width: 260px;
        background: white;
        color: #184063db;
        font-size: initial;
        font-weight: bolder;
    }

    #loginBtnParent {
        display: flex;
        justify-content: center;
        background: #1840630a;
    }

    #loginBtn {
        width: 120px;
        height: 45px;
        font-weight: bolder;
        font-size: large;
        background: white;
        color: #184063db;
        transition: color 0.3s ease 0s;
        cursor: pointer;
    }

    #loginBtn:hover {
        background-color: gray;
        color: white;
        cursor: pointer;
    }

    /* Register */

    #registerBtnParent {
        display: flex;
        justify-content: center;
        background: #1840630a;
    }

    #registerBtn {
        width: 120px;
        height: 45px;
        font-weight: bolder;
        font-size: large;
        background: white;
        color: #184063db;
        transition: color 0.3s ease 0s;
        cursor: pointer;
    }

    #registerBtn:hover {
        background-color: gray;
        color: white;
        cursor: pointer;
    }

    #registerCenterAll {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #registerForm {
        height: 100%;
        width: 100%;
        background: #1840630a;
    }

    
      /* Logout */

      #navbarLoggedOut {
        display: flex;
        justify-content: center;
      }

    /* View Posts */

    div #posts {
        border: 5px solid white;
        height: 50vh;
        overflow: auto;
        position: relative;
        background-color: #184063db;
        /* background: linear-gradient(to right, #5a95cadb, rgb(169, 175, 187), #184063db); */
    }

    #navbarLoggedIn {
        display: flex;
        justify-content: space-evenly;
    }

    #createNewPost {
        background-color: #1840630a;
        font-weight: bolder;
    }

    /* Newpost */

    #newPost {
        background: #d3d3d9;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #184063db;
        padding-top: 46px;
        box-shadow: 10px 10px 15px #000000d1;
    }

    #createNewPostForm {
        display: flex;
        flex-direction: column;
        height: 50vh;
        background-color: #1840630a;
    }

    #title {
        background: white;
        font-weight: bolder;
    }

    #description {
        border: 3px solid white;
        overflow: auto;
        position: relative;
        background: white;
        font-weight: bolder;
        width: 290px;
        height: 205px;
        resize: none;
    }

    #price {
        background: white;
        font-weight: bolder;
    }

    #location {
        background: white;
        font-weight: bolder;
    }

    #deliver {
        background: #1840630a;
    }

    #deliver-check {
        cursor: pointer;
    }

    #deliverText {
        background: #1840630a;
        font-weight: bolder;
    }

    #postBtn {
        width: 120px;
        height: 45px;
        font-weight: bolder;
        font-size: large;
        background: white;
        color: #184063db;
        cursor: pointer;
    }

    #postBtn:hover {
        background-color: gray;
        color: white;
        cursor: pointer;
    }